@import "tailwindcss";

body {
  background: #000;
}

@layer utilities {
  .before-content-none::before {
    content: "";
  }
}

.anima::after {
  content: '';
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-image: url("/noisybackground.png");
  opacity: .3;
  pointer-events: none;
  transition: .1s;
  animation: noisyBg 1s steps(2) infinite;
  
}

@keyframes noisyBg 
{
  0% { transform: translate3d(-4rem, -9rem, 0)}
  10% { transform: translate3d(-4rem, -6rem, 0)}
  20% { transform: translate3d(-8rem, -2rem, 0)}
  30% { transform: translate3d(-9rem, -9rem, 0)}
  40% { transform: translate3d(-2rem, -7rem, 0)}
  50% { transform: translate3d(-9rem, -4rem, 0)}
  60% { transform: translate3d(-2, -6rem, 0)}
  70% { transform: translate3d(-7rem, -8rem, 0)}
  80% { transform: translate3d(-9rem, -1rem, 0)}
  90% { transform: translate3d(-6rem, -5rem, 0)}
  to { transform: translate3d(-7rem, 0, 0)}
}

.my_img_div::before {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 0;
  border: 4px solid #00d373;
  border-radius: 50%;
}

.my_img_div::after {
  content: "";
  position: absolute;
  top: -8%;
  left: -8%;
  width: 115%;
  height: 115%;
  background: linear-gradient(to right, #56acff, #00d373);
  border-radius: 100%;
  z-index: -1;
}

.my_name {
  position: absolute;
  top: 32%;
  right: 0%;
  color: whitesmoke;
  font-size: 20px;
}

/* fancy_btn */

.fancy_btn {
  background-image: linear-gradient(
    135deg, 
    #00d372, 
    #56acff 34%, 
    #7179ef 56%,
    #d87aca
    );
  border-radius: 100px;
  padding: 0.2vw;
  max-width: 100%;
  display: inline-block;
  transition: 1s;
}

.fancy_btn_text:hover {
  transform: scale(7);
}



.icon {
  position: fixed;
  right: 10%;
  bottom: 10%;
  color: white;
  /* padding: 10px; */
  width: 70px;
  height: 70px;
  background-color: #2a2a2a;
  border-radius: 100%;
  display: flex;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.chatBox {
  position: fixed;
  bottom: 17%;
  right: 3%;
  width: 400px;
  height: 70%;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.header{
  height: 60px;
  background-color: #2a2a2a;
  text-align: center;
  /* padding: 10px; */
  padding: 10px;
  font-family: sans-serif
}

.iframe_chat {
  width: 106%;
  height: 600px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
